<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/master.css">
  <title></title>
</head>

<body>
  <div class="page">
    <div class="thumbnail">
        <img class="headshot" src="{{user.avatar}}" alt="">
      </div>
      {{#user}}
      <div class="personInfo">
        <h1 class="nombre">{{name}}</h1>
      <h4 class="jobList">
            {{address.city}}, {{address.country}} |
            {{#job}}{{.}}, {{/job}}
            {{^job}}Available for Hire{{/job}}
            {{company}}
          </h4>
          <h4>{{email}} | {{phone}}</h4>
        </div>
        <div class="education">
          <h4 id="skillsTop">Skills</h4>
          <h4 id="skillsList">{{skills}}</h4>
        </div>
    </div>
    {{/user}}
  </div>
</body>

</html>
